{% extends 'base.html.twig' %}
{% block title  %}{{teacher.name}} {% endblock %}
{% block content %}




    <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="loader">
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button class="close-btn border-none"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!-- Search Popup End -->

    <main class="page-wrapper">
        <!-- nav area start here -->
        <div class="nav-area-wrapper-relative">

        </div>
        <!-- nav area end here -->

        <!-- about page start here  -->
        <div class="team-details-wrapper single-page-section-top-space single-page-section-bottom-space">
            <!-- about area start here  -->



            <section class="about-section-area-wrapper section-bottom-space">
                <div class="container custom-container-01">
                    <div class="row align-items-center row-reverse">
                        <div class="col-lg-6 col-md-12 info-prof">
                            <div class="about-content">
                                <h3 class="content-title">Information sur le professeur</h3>

                                <p class="paragraph">{{ teachers.description.descriptionComplete }}
                                </p>

                                <div class="check-point-wrap">
                                    <p class="details-title">Clients and publications include:</p>

                                    <ul class="ul check-point-list style-01 v-02">
                                        <li class="single-check-point">
                                            <span class="icon-wrap">
                                                <i class="fa-solid fa-check icon"></i>
                                            </span>
                                            <span class="content">
                                                <span class="text">Media: GQ, Details, Esquire, High Snobiety &
                                                    Selectism, Complex Media, Hypebeast Magazine
                                                </span>
                                            </span>
                                        </li>

                                        <li class="single-check-point">
                                            <span class="icon-wrap">
                                                <i class="fa-solid fa-check icon"></i>
                                            </span>
                                            <span class="content">
                                                <span class="text">Fashion: Giorgio Armani, Public School NY, The
                                                    Arrivals, Raleigh, En Noir, Ovadia & Sons, Alternative Apparel
                                                </span>
                                            </span>
                                        </li>

                                        <li class="single-check-point">
                                            <span class="icon-wrap">
                                                <i class="fa-solid fa-check icon"></i>
                                            </span>
                                            <span class="content">
                                                <span class="text">Client: Saks Fifth Avenue, Bloomingdales, Barney's
                                                    NY, Carson Street Clothiers</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="offset-xl-1 col-lg-6 col-md-7 col-xl-4">
                            <div class="single-instructor-details-wrap">
                                <div class="thumb">
                                    <img src="/uploads/{{ teachers.illustration }}" alt="{{ teachers.name }}"> </a>
                                </div>

                                <div class="content">
                                  {#   <div class="badge-box">
                                        <span class="badges">Instructeur</span>
                                    </div> #}

                                    <h4 class="title"style="margin-top: -38px;">{{ teachers.name }}</h4>
                                    {# <p class="paragraph">{{ teachers.description.descriptionPreview }}</p> #}



                                    <div id="app"></div>
                                    {# templates/home.html.twig #}


                                    <app></app>

                                    <div class="student-review" style="margin-bottom: 4rem;">
                                        <div class="student-wrap">
                                            <span class="number">25896</span>
                                            <span class="text">Total Students</span>
                                        </div>
                                        <div class="review-wrap">
                                            <span class="number">4.5</span>
                                            <span class="text">78542 reviews</span>
                                        </div>
                                    </div>


                                            {# La div si dessus fonctionne #}

                                 {#    <div class="select-wrapper" style="height: 250px;overflow-y: auto;text-align: center !important;width: 100%;display: flex !important;justify-content: center !important;flex-direction: column !important;font-size: 16px;">

<br />
                                      <label for=""> <b>Veuillez sélectionner votre/vos créneau(x) dans la liste déroulante</b></label>
                                            {% set i = 0 %}
                                        <select multiple size="5" class="custom-select open" style="width:100% !important;display:flex !important;justify-content: center !important;font-size: 16px;padding-top: 247rem; " value="">
                                            {% for i, hour in hours %}
                                               {#  <option value="{{ i }}">{{ hour }}</option>#}

                                    {#
                                    <span style="margin-top: 1rem;">
                                        <input name="hours[]" type="checkbox" value="{{ i }}" {% if i == 0 %}{% endif %}>
                               {{ hour }}</input>
                                    </span>
                                     {% set i = i + 1 %}
                                 {% endfor %}
                             </select>
                         </div>
#}

                         {# La div si dessus fonctionne #}









{#
                                    <div>
                                        <form>
                                        <label><b>Choisir un créneau</b></label>

                                            {% for hour in hours %}
                                               <br /> <input type="checkbox">{{ hour }}<br /></input>
                                            {% endfor %}
                                        </form>
                                        <input class="btn btn-warning" type="datetime-local" id="meeting-time"
                                               name="meeting-time" value="2023-06-12T19:30"
                                               min="2018-06-07T00:00" max="2030-06-14T00:00">
                                    </div>

#}



                                    <ul class="ul social-media-list style-01 color-02">
                                        <li class="single-social-item">
                                            <a href="#" tabindex="-1">
                                                <i class="fa-brands fa-instagram icon"></i>
                                            </a>
                                        </li>
                                        <li class="single-social-item">
                                            <a href="#" tabindex="-1">
                                                <i class="fa-brands fa-facebook-f icon"></i>
                                            </a>
                                        </li>
                                        <li class="single-social-item">
                                            <a href="#" tabindex="-1">
                                                <i class="fa-brands fa-youtube icon"></i>
                                            </a>
                                        </li>
                                        <li class="single-social-item">
                                            <a href="#" tabindex="-1">
                                                <i class="fa-brands fa-linkedin-in icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about area end here  -->

            <!-- testimonial area start here  -->
            <section class="testimonial-area-wrapper section-top-space">
                <div class="testimonial-inner-bg">
                    <div class="container custom-container-01">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="section-title-wrapper text-center">
                                    <h4 class="section-title">Students feedback</h4>
                                    <p class="description">Let’s see what my students gave feedback about my courses &
                                        classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slick-main global-slick-init" data-infinite="true" data-arrows="true"
                                     data-fade="false" data-speed="500" data-dots="false" data-slidesToShow="3"
                                     data-slidesToScroll="1" data-swipeToSlide="true" data-autoplay="true"
                                     data-autoplaySpeed="2500" data-responsive='[
                                    {"breakpoint": 1367,"settings": {"slidesToShow": 3}},
                                    {"breakpoint": 992,"settings": {"slidesToShow": 2}},
                                    {"breakpoint": 600, "settings": {"slidesToShow": 1}}
                                    ]'>

                                    <div class="slick-item">
                                        <div class="testimonial-single-items style-01 v-02  no-border">
                                            <div class="feedback-wrap">
                                                <ul class="ul feedback-icon-list">
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="content">
                                                <p class="feedback-text">“I able to prove potential employers that i
                                                    have a
                                                    solid
                                                    understanding of
                                                    computers &
                                                    hardware- and started to receive real, viable job offers”.</p>
                                            </div>

                                            <div class="client-and-quote">
                                                <div class="client-details">
                                                    <div class="thumb">
                                                        <img src="/assets/img/sections/testimonial/tesi-01.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <p class="client-name">Savannah Nguyen</p>
                                                        <p class="designation">Central African Republic</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slick-item">
                                        <div class="testimonial-single-items style-01 v-02  no-border">
                                            <div class="feedback-wrap">
                                                <ul class="ul feedback-icon-list">
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="content">
                                                <p class="feedback-text">“I able to prove potential employers that i
                                                    have a
                                                    solid
                                                    understanding of
                                                    computers &
                                                    hardware- and started to receive real, viable job offers”.</p>
                                            </div>

                                            <div class="client-and-quote">
                                                <div class="client-details">
                                                    <div class="thumb">
                                                        <img src="/assets/img/sections/testimonial/testi-02.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <p class="client-name">Kathryn Murphy</p>
                                                        <p class="designation">Monaco</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slick-item">
                                        <div class="testimonial-single-items style-01 v-02  no-border">
                                            <div class="feedback-wrap">
                                                <ul class="ul feedback-icon-list">
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="content">
                                                <p class="feedback-text">“I able to prove potential employers that i
                                                    have a
                                                    solid
                                                    understanding of
                                                    computers &
                                                    hardware- and started to receive real, viable job offers”.</p>
                                            </div>

                                            <div class="client-and-quote">
                                                <div class="client-details">
                                                    <div class="thumb">
                                                        <img src="/assets/img/sections/testimonial/testi-03.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <p class="client-name">Kristin Watson</p>
                                                        <p class="designation">Guinea</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slick-item">
                                        <div class="testimonial-single-items style-01 v-02  no-border">
                                            <div class="feedback-wrap">
                                                <ul class="ul feedback-icon-list">
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                    <li class="single-feedback-item">
                                                        <i class="fas fa-star icon"></i>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="content">
                                                <p class="feedback-text">“I able to prove potential employers that i
                                                    have a
                                                    solid
                                                    understanding of
                                                    computers &
                                                    hardware- and started to receive real, viable job offers”.</p>
                                            </div>

                                            <div class="client-and-quote">
                                                <div class="client-details">
                                                    <div class="thumb">
                                                        <img src="/assets/img/sections/testimonial/testi-02.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <p class="client-name">Savannah Nguyen</p>
                                                        <p class="designation">Central African Republic</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial area end here  -->

            <!-- course area start hare  -->
            <section class="course-area-wrapper section-top-space">
                <div class="container custom-container-01">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title-wrapper text-center">
                                <h4 class="section-title">My all courses</h4>
                                <p class="description">I have total 4 courses live on Eduplan courses platform</p>
                            </div>
                        </div>
                    </div>

                    <div class="row column-gap">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(/assets/img/course/01.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Harverd University</p>
                                    <h3 class="title">
                                        <a href="#">Become Ethereum Blockchain Developer</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <di class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </di>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Harverd University</p>
                                        <h3 class="title">
                                            <a href="#">Become Ethereum Blockchain Developer</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <di class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </di>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(/assets/img/course/02.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Esther Howard</p>
                                    <h3 class="title">
                                        <a href="#">Leadership Training: Human Leadership</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <di class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </di>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Esther Howard</p>
                                        <h3 class="title">
                                            <a href="#">Leadership Training: Human Leadership</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <di class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </di>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(/assets/img/course/03.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Leslie Alexander</p>
                                    <h3 class="title">
                                        <a href="#">Beginner friendly web development course A2Z</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <di class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </di>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Leslie Alexander</p>
                                        <h3 class="title">
                                            <a href="#">Beginner friendly web development course A2Z</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <di class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </di>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="single-course-item">
                                <div class="thumbnail zoom-in">
                                    <div class="background-image"
                                         style="background-image: url(/assets/img/course/04.png);"></div>
                                </div>
                                <div class="contact">
                                    <p class="tag">Ralph Edwards</p>
                                    <h3 class="title">
                                        <a href="#">The Ultimate Drawing Course - Beginner to Advanced</a>
                                    </h3>

                                    <div class="meta-box">
                                        <div class="left-content">
                                            <di class="feedback">
                                                <i class="fas fa-star icon"></i>
                                                <span class="text">4.8 (756)</span>
                                            </di>
                                        </div>
                                        <div class="right-content">
                                            <p class="price">$25.50</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="hover-option">
                                    <div class="contact">
                                        <p class="tag">Ralph Edwards</p>
                                        <h3 class="title">
                                            <a href="#">The Ultimate Drawing Course - Beginner to Advanced</a>
                                        </h3>

                                        <p class="paragraph">We have professional alliance's with leading Universities
                                            Colleges
                                            around the world.
                                        </p>

                                        <div class="meta-box">
                                            <div class="left-content">
                                                <di class="feedback">
                                                    <i class="fa-solid fa-user-group icon"></i>
                                                    <span class="text">548796</span>
                                                </di>
                                            </div>
                                            <div class="right-content">
                                                <i class="fa-solid fa-clock icon"></i>
                                                <span class="duration">23 hr 54 min</span>
                                            </div>
                                        </div>

                                        <div class="video-play-wrapper">
                                            <a class="video-play-btn mfp-iframe"
                                               href="https://www.youtube.com/watch?v=c7XEhXZ_rsk">
                                                <svg width="14" height="25" viewBox="0 0 14 25" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M13.124 12.6362L0.364909 24.7606L0.36491 0.511875L13.124 12.6362Z"
                                                            fill="white"></path>
                                                </svg>
                                            </a>

                                            <p class="text">Watch Intro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- course area end hare  -->
        </div>
        <!-- about page end here  -->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>

    </body>




{% endblock %}