{% extends 'base.html.twig' %}
{% block content %}




    <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="loader">
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!--  search Popup start -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button class="close-btn border-none"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <!-- Search Popup End -->

    <main class="page-wrapper">
        <!-- nav area start here -->
        <div class="nav-area-wrapper-relative">

        </div>
        <!-- nav area end here -->

        <!-- about page start here  -->
        <div class="course-details-wrapper single-page-section-top-space single-page-section-bottom-space">
            <div class="container custom-container-01">
                <div class="row">
                    <div class="col-lg-7 col-xl-8">
                        <!-- breadcrumb area start here  -->
                        <div class="breadcrumb-wrap style-01">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb-content">
                                        <h3 class="title">Inscription</h3>
                                        <p class="details">Veuillez compléter le formulaire pour vous inscrire</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {#                        {% set role = ['enseignant', 'éleve', 'colégien', 'etudiant', 'parent'] %}#}
                        {#                        {{ form|join(', ') }}#}
                        {#                        {{ form(form) }}#}

                        {{ form_start(form) }}

                        {{ notification }}
                        <div class="row col-md-12">
                        {{ form_row(form._token) }}
                            <div class="col-md-12">{{ form_row(form.firstname) }}</div>
                            <div class="col-md-12">{{ form_row(form.lastname) }}</div>
                            <div class="col-md-12">{{ form_row(form.email) }}</div>
                            <div class="col-md-12">{{ form_row(form.password) }}</div>

                            {{ form_row(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>

        <!-- about page end here  -->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    </main>
    </body>


{% endblock %}
